DB_NAME=marketplace_db
DB_USER=admin
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

SECRET_KEY=your-secret-key-here
DEBUG=True